.features {
    grid-column: centre-start / centre-end;

    margin:15rem 0;

    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
    grid-gap: 6rem;
    justify-content: center;
    align-items: start;
}

.feature {
    display: grid;
    grid-template-columns: [icon-start] min-content [icon-end content-start] minmax(20rem, 1fr) [content-end];
    grid-gap: 2rem;
    
    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-column: icon-start / icon-end;
        transform: translateY(-1rem);
    }
    &__text {
        font-size: 1.65rem;
        grid-column: content-start / content-end;
        
    }
}
