.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;

    padding: 8rem;
    
}

.nav {
    
    &__list {
        list-style: none;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(12rem,1fr));
        align-items: center;
    }

    &__item {

    }

    &__link {
        align-self: center;
       
        &:link,
        &:visited {
            font-size: 1.2rem;
            color: $color-white;
            text-decoration: none;
            font-family: $font-display;
            text-transform: uppercase;
            text-align: center;
            transition: all .2s;
            padding: 1.5rem;
            display: block;
        }
        &:hover,
        &:active {
            transform: translateY(-.5rem) rotate(2deg) scale(1.5);
            text-shadow: .5rem .5rem 1rem $color-black;
        }
    }
}

.copyright {
    text-align: center;
    margin-top: 5rem;
}